.register-form input{
    display: block;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 15px;
}
.register-form{
    margin: 0 auto;
    width: 50%;
}